 
  body[data-lightTheme=true]:not([data-theme="dark"]) #DOCJS_SIDEBAR {
    background: var(--sidebar-color) !important;
    border-color: var(--bb-color) !important;
  }

  [data-lightTheme=true] #DOCJS_SIDEBAR a {
    color: var(--sidebar_font-color) !important
  }

  [data-lightTheme=true] #DOCJS_SIDEBAR input {
    color: gray !important;
    background: rgba(200,200,200,.3) !important
  }
code {scrollbar-width: none;}
  [data-lightTheme=true] #DOCJS_SIDEBAR .search_before {
    color: gray !important;
    background: rgba(200,200,200,.3) !important
  }

  :root {
    --bb-color: #eee;
    --secondary-color: #fff;
    --font-color: #7a7a7a;
    --menu-color: #020202;
    --bg-color: #fff;
    --paragraph-color: #273560;
    --code-color:#f5f8fb;
    --heading-color: #333d65;
    --sidebar_font-color: gray;
    --sidebar-color: #fff;
    --do-color-hover: #ccc;
  }

  [data-theme="dark"] {
    --bb-color: #252525;
    --secondary-color: #262626;
    --font-color: #fff;
    --menu-color: #010101;
    --bg-color: #212121;
    --heading-color: white;
    --paragraph-color: gray;
    --sidebar_font-color: #fff;
    --sidebar-color: #202020;
    --code-color: #1c1c1c;
    --do-color-hover: #212121;
  }
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

  h1 {
    font-size: 50px;
  }

  #DOCJS_SIDEBAR::-webkit-scrollbar,
  code::-webkit-scrollbar {
    display: none !important
  }

  blockquote {
    background: #f1f1f1;
    margin: 0;
    border-left: 5px solid #ccc;
    padding: 15px;
    width: 100%;
    box-sizing: border-box
  }

  #DOCJS_PAGE_CONTENT {
    padding: 5px 50px;
  }

  * {
    box-sizing: border-box
  }

  body {
    padding-left: 300px;
  }

  p,
  ul,
  li {
    color: var(--paragraph-color)
  }

  #DOCJS_SIDEBAR {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    border-right: 2px solid #636a7f;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #101b3b
  }

  #DOCJS_SIDEBAR ul {
    list-style: none;
    margin-top: 0;
    padding: auto !important;
  }

  #DOCJS_MOBILE_TRIGGER {
    background: var(--secondary-color);
    padding: 11px;
    color: var(--font-color)
  }

  table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
  }

  table th,
  table td {
    text-align: left;
    padding: 12px;
  }

  table tr {
    border-bottom: 1px solid #ddd;
    transition: all .2s;
  }

  #SIDENAV_OVERLAY {
    animation: overlay .3s forwards
  }

  @keyframes overlay {
    0% {
      opacity: 0;
    }
  }

  table tr:first-child {
    color: #212121;
  }

  code {
    background: var(--code-color);
    width: 100% !important;
    display: block;
    word-wrap: break-word;
    overflow: scroll;
    padding: 10px;
    color: var(--font-color) !important;
    border-radius: 5px;
    transition: all .2s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-weight: 400;
    line-height: 1.3
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-weight: inherit
  }

  h1:not(#DOCJS_TITLE) {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0
  }

  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0
  }
  input {border-radius: 0 !important}
  code {
    font-family: 'Source Code Pro', monospace;
  }
  h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0
  }

  h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 .912rem 0
  }

  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 .656rem 0
  }

  h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0
  }

  em {
    font-style: italic
  }

  strong {
    font-weight: 500
  }

  small {
    font-size: 75%
  }

  .light {
    font-weight: 300
  }

  .thin {
    font-weight: 200
  }

  a {
    text-decoration: none;
    color: #7cb2e4
  }

  a:hover {
    text-decoration: underline
  }

  #DOCJS_SIDEBAR a {
    text-decoration: none;
    margin: 0;
    display: block;
    padding: 15px;
    width: 300px;
    ;
    /* transition: all .1s; */
    color: #fff;
    margin-left: -40px;
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  #DOCJS_SIDEBAR input {
    padding: 15px 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 75%;
    background: #2d3653;
    color: white;
    border: 0;
    outline: 0;
    transition: all .2s;
    display: inline-block;
  }

  #DOCJS_SIDEBAR a:hover {
    background: rgba(200, 200, 200, .2)
  }

  .DOCJS_ICON {
    position: fixed;
    top: 0;
    right: 0;
    backgrund: black;
    z-index: 9999999;
  }

  #DOCJS_SIDEBAR a:active {
    background: rgba(200, 200, 200, .5)
  }

  .search_before {
    margin-left: 10px;
    position: relative;
    bottom: -5px;
    display: inline-block;
    color: white;
    padding: 11px;
    background: #2d3653;
    margin-left: 15px;
    line-height: 1
  }

  .search_before i {
    line-height: 20px !important
  }

  #DOCJS_TITLE {
    text-align: left;
    color: #aaa;
    vertical-align: middle;
    font-size: 35px;
  }

  #DOCJS_SEARCH {
    margin-bottom: 5px;
  }

  .red {
    border-right: 5px solid #42b983;
    background: rgba(0, 0, 0, 0.2) !important
  }

  .tabcontent {
    display: none
  }

  .linear-activity {
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    z-index: 9999;
    background-color: #B3E5FC;
  }

  #DOCJS_LOADER {
    display: none
  }

  #DOCJS_NAV {
    position: fixed;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    border-bottom: 1px solid var(--bb-color);
    background: var(--secondary-color);
    z-index: 2;
    list-style: none
  }

  #DOCJS_NAV ul {
    padding: 0;
    margin: 0
  }

  nav li {
    list-style-type: none
  }

  #DOCJS_NAV a {
    padding: 15px 20px;
    display: inline-block;
    color: gray;
    text-decoration: none !important;
  }

  .determinate {
    position: relative;
    max-width: 100%;
    height: 100%;
    -webkit-transition: width 500ms ease-out 1s;
    -moz-transition: width 500ms ease-out 1s;
    -o-transition: width 500ms ease-out 1s;
    transition: width 500ms ease-out 1s;
    background-color: #03A9F4;
  }

  .indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
  }

  body {
    padding-top: 20px;
  }

  .indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #03A9F4;
    animation: indeterminate_first 1.5s infinite ease-out;
  }

  .indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #4FC3F7;
    animation: indeterminate_second 1.5s infinite ease-in;
  }

  @keyframes indeterminate_first {
    0% {
      left: -100%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 10%;
    }
  }

  @keyframes indeterminate_second {
    0% {
      left: -150%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 10%;
    }
  }

  .DOCJS_IMG {
    vertical-align: middle;
    width: 50px;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
  }

  #DOCJS_SIDEBAR h1 {
    display: inline-block;
  }

  * {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* prevent tap highlight color / shadow */
  }

  @media only screen and (max-width: 600px) {
    body {
      padding-left: 0;
    }
    #DOCJS_SIDEBAR {
      left: -300px;
    }
    #DOCJS_NAV {
      left: 0;
      width: 100%;
      padding-left: 30px !important
    }
    #DOCJS_PAGE_CONTENT {
      padding: 5px 10px
    }
  }


  body {
    background: var(--bg-color)
  }
  /*slider switch css */

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    display: none;
  }

  .slider {
    background-color: #ddd;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked+.slider {
    background-color: #66bb6a;
  }

  input:checked+.slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  body,nav {transition: all .2s}

  .slider.round:before {
    border-radius: 50%;
  }
  :root[data-theme=light]{--font-color: gray !important}
  [data-theme=light] [data-lightTheme=true]{
    --menu-color: #eee !important;
  }
  [data-theme=dark] [data-lightTheme=true]{
    --menu-color: #262626 !important
  }
  .NAV_BTN {color: var(--font-color);text-align: left;
    margin:auto;transition: all .2s;margin-bottom: 20px;float:left;width:40%;padding:20px;background:rgba(255,255,255,.1);cursor:pointer;border-radius:2px;outline:0;border: 2px solid var(--bb-color);border-style: solid;margin-top: 20px;box-shadow: 0 3px 8px 0 rgb(116 129 141 / 10%);
  }
  .NAV_BTN:hover {
    border-color: #9403fc
  }
  .right {
    float:right;
    text-align: right;
  }
  .copied {
  animation: copyText 3s forwards;
  position:fixed;
  bottom: 15px;
  left:15px;
  padding: 20px 25px;
  min-width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  background: #212121;
  z-index:999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
  color:white;
  }
  code:hover:before {content: "Click to Copy";float:right;background: rgb(10, 196, 10);z-index: 0 !important;color:white;position:absolute;margin-top: -40px;padding: 5px;right:59px;}
  @keyframes copyText{
  0%{bottom: -100px;}
  10% {bottom: 15px;}
  90% {bottom: 15px;}
  100%{bottom: -100px;}
  }
  html {scroll-behavior: smooth}
  [data-copytoclipboard=false] code:hover:before{
  display: none !important
  }
  li li:before {
    background:var(--bb-color) !important;
    content: "";
    float: left;
    width: 5px;
    height: 50px;
    position: absolute;
    transition: all .2s;
    margin-left: -40px;
  }
  li li {
margin-left: -20px !important;
  }
  .sidebar {
    z-index:999999999999999999999;
    transition: all .2s;
  }
  #DOCJS_OPTIONS {
    position: fixed;
    bottom:0;
    z-index:99999999999999999999;
    width: 300px;
    min-height: 60px;
    max-height: 60px;
    transition: all 1s;
    overflow-wrap: break-word;
    background: var(--bb-color);
    color: var(--font-color);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  #DOCJS_OPTIONS p {
   padding: 20px !important;
   margin:0;
   cursor:pointer;
  }
  #DOCJS_OPTIONS p:hover {background: var(--do-color-hover)}
  #DOCJS_OPTIONS p:active {
    background: #aaa;
  }
  .MENU_ACTIVE {
    max-height: 200px !important;
  }
  .content {
    padding: 10px;
  }
